/* stylelint-disable max-line-length */
@font-face {
  font-family: roboto-condensed;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/roboto-condensed-bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/roboto-bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/roboto-medium.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/roboto-regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Font Awesome 5 Solid';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/fa/fa-solid-900.woff2') format('woff2');
}

@font-face {
  font-family: 'Adobe Clean';
  font-display: swap;
  src: url('../fonts/AdobeCleanRegular.woff') format('woff');
}

@font-face {
  font-family: 'Adobe Clean Light';
  font-display: swap;
  src: url('../fonts/AdobeCleanLight.woff') format('woff');
}

@font-face {
  font-family: 'Adobe Clean Bold';
  font-display: swap;
  src: url('../fonts/AdobeCleanBold.woff') format('woff');
}

@font-face {
  font-family: 'Adobe Clean Extra Bold';
  font-display: swap;
  src: url('../fonts/AdobeCleanExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Adobe Clean Black';
  font-display: swap;
  src: url('../fonts/AdobeCleanBlack.woff') format('woff');
}

@font-face {
  font-family: NoeDisplaySJP-Bold;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: local('NoeDisplaySJP-Bold'),
    url('../fonts/NoeDisplaySJP-Bold.woff2') format('woff2'),
    url('https://main--sjpa--waringme.aem.live/fonts/NoeDisplaySJP-Bold.woff2') format('woff2');
}

@font-face {
  font-family: SJPSouthCoast;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: local('SJPSouthCoast'),
    url('https://main--sjpa--waringme.aem.live/fonts/SJPSouthCoast.woff2') format('woff2'),
    url('https://main--sjp--waringme.aem.page/fonts/SJPSouthCoast.woff2') format('woff2');
}
